<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @rent.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @rent.book_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rent.status %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', books_path %>
